 <div class="container">
    <mat-toolbar>
        <span>Crear usuario</span>
        
      </mat-toolbar>
     
       <mat-card style="margin-top: 10px;">
      <form>
        
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="w-80">
                    <mat-label>Usuario</mat-label>
                    <input matInput autocomplete="off">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5" >
                    <img src="./assets/img/login.png" width="250px">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <mat-form-field class="w-80">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <mat-form-field class="w-80">
                    <mat-label>Apellido</mat-label>
                    <input matInput autocomplete="off">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <mat-form-field  class="w-80">
                    <mat-label>Sexo</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of sexo" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <button mat-raised-button style="margin-right: 20px;">Volver</button>

                  <button mat-raised-button color="primary">Aceptar</button>


                </mat-grid-tile>
            </mat-grid-list>

        </form>
      </mat-card>
 </div>